body{
    padding: 0;
    margin: 0;
        background-color: cadetblue;
}

header{

    width: 100%;
    background-color: white; 

}
nav{
margin: 5px;


}
nav li{

display: inline;

}

.logo{
    width: 80px;
    margin: 20px;
    display: inline;
    background-color: brown;

}
.logo img{
    width: 100px;
}